<h2>Sales by customer</h2>
<table>
    <thead>
        <tr>
            <td>
                Customer name
            </td>
            <td>
                Number of sales
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>
                {{ client.Client }}
            </td>
            <td>
                {{ client.UnitsSold }}
            </td>
        </tr>
    </tbody>
</table>